*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----header----- */
.ab-header{
    background-color: black;
    display: block;
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    position: sticky;
    top: 0px;
    z-index: 50;
}
.ab-top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
    font-size: larger;
    
}
.ab-word{
    background-color:#cb3b3b ;
    border-radius: 40px ;
    padding: 6px 20px;
    margin: 0% 1.5% ;
}
.ab-covide-19{
    margin:0%;
    padding: 0%;
}
/* ----navbar---- */
.ab-navbar{
    background-color: #cb3b3b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5% ;
}
.ab-navbar .ab-links{
    flex: 1;
    text-align: right;
}
.ab-logo{
    margin-left: 4%;
}
.ab-icone{
    background-color: black;
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
    margin-left: 1%;
}
.ab-navbar .ab-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
    font-size: 15px;
    margin-left: 3%;
}
.ab-navbar .ab-links ul li:hover{
    background-color: black;
    border-radius: 5px;
    transition: 0.5s;
}
.ab-navbar .ab-links ul li a{
    text-decoration: none;
    color: white;
    font-weight:lighter;
}

/* ----section1------ */
.ab-section-1{
    min-height: 75vh;
    width: 100%;
    color: white;
    background: linear-gradient(rgba(128, 128, 128, 0), rgba(2, 6, 19, 1)), url(../hiphopImages/positiveImages/about-friends-img.jpeg);
    background-position: center;
    background-size: cover;
}
.ab-section-1 .ab-heading{
    min-width:50vw;
    padding: 10%;
    padding-left: 5%;
}

.ab-h1{
    font-size: 60px;
    margin-bottom: 10px;
}
.ab-paragraph-1{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}
.ab-shop-button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 8px 25px;
}

.ab-shop-button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.5;
}
/* ------section2------ */

.ab-section-2{
    min-height: 75vh;
    width: 100%;
}
.business-div{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.business-div .p1{
    font-size: 15px;
    margin:40px;
}

.business-div h1{
    font-size: 30px;
}

.business-div .p2{
    font-size: 15px;
    margin:30px;
    width: 40%;
}
.thebest{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
}
.thebest div{
    width: 20%;
}
.thebest div h1{
    padding: 5%;
    padding-left: 0%;
}
/* ----section3---- */
.ab-section-3{
    display: inline-block;
    margin-right: 20%;
    position: relative;
}
.ab-section-3 .owners-container{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 70vw;
    height: 100%;
    min-height: 100vh;
    margin-left: 30%;
    padding-bottom: 5%;
    
}
.ab-section-3 .owners-container h1{
    font-size: 40px;
    margin-left: 38%;
    padding-top: 5%;
}
.ab-section-3 .owners-container p{
  
  line-height: 25px;
  padding-top: 20px;
  width: 38vw;
  margin-left: auto;
  margin-right: 8%;
}
.ab-section-3 .section-3-img{
    display: inline-block;
    background: url(../hiphopImages/positiveImages/ab-section-3-img.jpeg);
    min-height: 90%;
    height: 80vh;
    min-width: 40vw;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: absolute;
    top: 6%;
    left: 5%;
}

/*----- section4---- */
.ab-section-4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15%;
    text-align: center;
}
.ab-section-4 div{
    width: 35%;
}
.ab-section-4 img{
    width: 45%;
}
.ab-section-4 p{
    text-align: center;
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 5px;
    line-height: 25px;
}
.ab-section-4 h1{
    margin: 5%;
}
/*-----section5-----*/
.ab-section-5{
    margin-top: 60px;
    background: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)), url(../hiphopImages/positiveImages/hello-img.jpeg);
    color: white;
    width: 100vw;
    min-height: 75vh;
    background-position: center;
    background-size:cover;
}
.help-div{
    min-width:50vw;
    padding: 10%;
    padding-left: 5%;
}
.help-div h1{
    font-size: 60px;
    margin-bottom: 10px;
}
.help-div p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    width: 30vw;
}
.help-div a{
    text-decoration: none;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 8px 25px;
}
.help-div a:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.5;
}
/* ----footer--- */
footer{
    min-height: 25vh;
    min-width: 100%;
    background-color: rgb(30, 28, 28);
    padding: 5%;
    padding-bottom: 0%;
}
footer .media{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .media ul li{
    list-style: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
footer .media .social-media ul li a{
    text-decoration: none;
    color: white;
    padding: 0px 5px;
}
.sub-footer{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.sub-footer .webflow-site{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.sub-footer .webflow-site a{
    color: #cb3b3b;
}
.sub-footer .webflow-site a:hover{
    text-decoration: none;
}
.webflow-button a{
  text-decoration: none;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  color: black;
  position: fixed;
  bottom: 1.5%;
  right: 0%;
}
/* media */
@media (max-width:768px ){
    /* section2 */
    .thebest{
        flex-direction: column;
        text-align: center;
    }
    .thebest div{
        width: 100%;
        margin: 5%;
    }
    .thebest div h1{
        margin: 3%;
        text-align: center;
    }
    /* section3 */
    .ab-section-3{
        display: flex;
        flex-direction: column-reverse;
        position: inherit;
    }
    .ab-section-3 .section-3-img{
        display: block;
        background: url(../hiphopImages/positiveImages/ab-section-3-img.jpeg);
        min-height: 70%;
        height: 80vh;
        min-width: 100vw;
        background-position: center;
        background-size: cover;
        border-radius: 0px;
        position: inherit;
    }
    .ab-section-3 .owners-container{
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        width: 100vw;
        height: 100%;
        min-height: 100vh;
        margin-left:0%;
        padding: 5%;
        position: inherit;
    }
    .ab-section-3 .owners-container h1{
        font-size: 40px;
        margin-left: 5%;
        padding-top: 3%;
    }
    .ab-section-3 .owners-container p{
      
      line-height: 25px;
      padding-top: 20px;
      width: 90vw;
      margin-left: 5%;
      margin-right: 8%;
    }
    /* section4 */
    .ab-section-4{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15%;
        text-align: center;
    }
    .ab-section-4 div{
        width: 100%;
    }
    /* section5 */
    .help-div p{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
        width: 50vw;
    }
}